<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Schools_My_P2e_EndToEnd Test">
        <classes>
            <class name="com.qa.testLayer.Schools_My_P2e_EndToEnd"/>
        </classes>
    </test>
</suite>